.article-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0
}

.article-navigation .view-button {
    cursor: pointer;
}

.article-navigation #back {
    margin-left: 20px
}

.article-navigation #next {
    margin-right: 20px
}

.button-inactive {
    border: 1px solid #b5b5b5;
    background-color: transparent;
    color: #b5b5b5
}

.button-inactive:hover {
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22)
}

@media screen and (max-width: 645px) {
    .article-navigation .view-button {
        padding: 10px 20px;
        width: 133px;
    }
}

@media screen and (max-width: 500px) {
    .article-navigation .view-button {
        padding: 10px 10px;
        width: 113px;
    }

    .article-navigation #back {
        margin-left: 0;
    }
    
    .article-navigation #next {
        margin-right: 0;
    }
}
