#services {
    background-color: rgba(0, 0, 0, 0.02);
    padding-top: 70px
}

#services #skill-container {
    display: grid;
    grid-template: repeat(1, 235px) / repeat(3, 33.33%);
    padding: 0 0 40px
}

#services .skill {
    padding-bottom: 50px;
    text-align: center;
}

#services .skill:hover h4 {
    color: #353535
}

#services .skill .skill-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 60px;
    margin: auto;
    padding: 0;
    width: 60px
}

h2 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase
}

h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center
}

h4 {
    color: #8e8e8e;
    font-size: 16px;
    text-align: center;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

@media screen and (max-width: 992px) {
    #services #skill-container {
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 450px) {
    #services #skill-container {
        margin: 0 25px;
    }
}