#nav-trigger {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFF;
    display: none;
    float: right;
    height: 42px;
    margin: 5px 0 0;
    width: 40px;
    padding: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

#nav-trigger span {
    background-color: #1c1919;
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#nav-trigger span:after {
    background-color: #1c1919;
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#nav-trigger span:before {
    background-color: #1c1919;
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: -14px
}

#nav-trigger span:after {
    top: 11px
}

.is-open {
    margin-right: 6px !important
}

.is-open span {
    background-color: transparent !important
}

.is-open span:before {
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.is-open span:after {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

@media screen and (max-width:680px) {
    #nav-trigger {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
}