.inform {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 130px 0 0;
    position: relative;
    text-align: center
}

.inform .container p {
    color: #191616;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding-bottom: 90px;
    text-align: left;
    word-wrap: normal
}

.inform .container p a {
    color: #117bff;
    -webkit-transition: letter-spacing .3s;
    -o-transition: letter-spacing .3s;
    transition: letter-spacing .3s
}

.inform .container p a:hover {
    text-decoration: underline;
    letter-spacing: 3px
}