/*-------------------------------------------*\
   ContactForm.css
 
   Contents
    - General 
    - Forms
    - Error Notification
    - Text Field
    - Submit Button

\*-------------------------------------------*/

/*-------------------------------------------*\
   General
\*-------------------------------------------*/

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 37px 1fr 32px 35px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-areas: 
        "email name phone"
        "text text text"
        "error-notification error-notification submit-btn"
        ". . .";
}

#email { grid-area: email }
#name { grid-area: name }
#phone { grid-area: phone }
#text { grid-area: text }
#error-notification { grid-area: error-notification }
#submit-btn { grid-area: submit-btn }

/*-------------------------------------------*\
   Forms
\*-------------------------------------------*/

.forms {
    outline: none;
    padding: 6px 12px;
    background-color: #191616;
    border: 2px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    color: #999;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    min-width: 0;
    transition: all .3s
}

.forms:active,
.forms:focus,
.forms:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    border-left: 2px solid rgba(255, 255, 255, 0.03);
    border-right: 2px solid rgba(255, 255, 255, 0.03);
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

.forms:focus:-moz-placeholder,
.forms:focus::-webkit-input-placeholder {
    color: transparent
}

.disabled-input {
    background-color: #1c1919 !important;
    color: #666 !important;
}

/*-------------------------------------------*\
   Text Field
\*-------------------------------------------*/

#text {
    background-color: #191616;
    border: 2px solid transparent;
    border-radius: 6px;
    color: #999;
    transition: all .3s;
    line-height: 1.42857143;
    padding: 6px 12px;
    resize: none;
}

#text:active,
#text:focus,
#text:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    border-left: 2px solid rgba(255, 255, 255, 0.03);
    border-right: 2px solid rgba(255, 255, 255, 0.03);
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

/*-------------------------------------------*\
   Submit Button
\*-------------------------------------------*/

#submit-btn {
    background-color: #161414;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    color: #6D6C6C;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    padding: 6px 6px;
    transition: all .3s;
}

#submit-btn:hover {
    background-color: #117bff;
    border: 1px solid transparent;
    color: #FFF;
    outline: none
}

.disabled-btn {
    background-color: #0b448a !important;
    border: 1px solid transparent !important;
    color: #FFF !important;
}

@media screen and (max-width: 991px) {
    form {
        grid-template-rows: 37px 1fr 32px;
        grid-template-areas: 
            "email name phone"
            "text text text"
            "error-notification error-notification submit-btn";
    }
}

@media screen and (max-width: 585px) {
    form {
        grid-template: 2fr / auto !important;
        grid-template-rows: 37px 1fr 32px 35px;
        grid-template-areas: 
            "email"
            "name"
            "phone"
            "text"
            "submit-btn"
            "error-notification"
            "." !important;
    }

    #text {
        height: 140px;
    }

    #submit-btn {
        margin-top: 20px;
        padding: 12px 12px;
    }
}