form {
    box-sizing: border-box;
    display: grid;
    grid-template: 37px auto 32px / auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    grid-template-areas: 
        "email name phone"
        "text text text"
        "error-notification error-notification submit-btn";
}

#email { grid-area: email }
#name { grid-area: name }
#phone { grid-area: phone }
#text { grid-area: text }
#error-notification { grid-area: error-notification }
#submit-btn { grid-area: submit-btn }


.forms {
    outline: none;
    padding: 6px 12px;
    background-color: #191616;
    border: 2px solid transparent;
    border-radius: 6px;
    color: #999;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.forms:active,
.forms:focus,
.forms:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    border-left: 2px solid rgba(255, 255, 255, 0.03);
    border-right: 2px solid rgba(255, 255, 255, 0.03);
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

.error-notification {
    color: #2687ff;
    display: inline-block;
}

input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent
}

#text {
    background-color: #191616;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #999;
    transition: all .3s;
    font-size: 15px;
    line-height: 1.42857143;
    padding: 6px 12px;
    resize: none;
}

#text:active,
#text:focus,
#text:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    border-left: 1px solid rgba(255, 255, 255, 0.03);
    border-right: 1px solid rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

#submit-btn {
    background-color: #161414;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    color: #6D6C6C;
    font-weight: 500;
    outline: none;
    padding-bottom: 5px;
    padding-top: 5px;
    transition: all .3s;
}

#submit-btn:hover {
    background-color: #117bff;
    border: 1px solid transparent;
    color: #FFF;
    outline: none
}