.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
    height: 52px;
    margin: 0
}

@media screen and (max-width:680px) {
    .nav {
        display: none !important
    }
}