.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
    height: 52px;
    margin: 0
}

.nav li {
    display: inline-block;
    list-style: none;
    margin-left: 2px;
    outline: 0;
    position: relative;
}

.nav li a {
    background-color: transparent;
    border: white;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    bottom: 0 !important;
    color: #1c1919;
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 6px 15px 0 !important;
    padding: 13px 0;
    text-decoration: none;
    text-transform: uppercase
}

.nav li a:focus,
.nav li a:hover {
    border-bottom: 3px solid #117bff;
    color: #1c1919;
    outline: 0;
}

.nav li.active a {
    background-color: transparent;
    color: #1c1919
}

.nav li.active a:focus,
.nav li.active a:hover {
    background-color: transparent;
    border-bottom: 3px solid #117bff;
    color: #1c1919
}

.nav .blog-button {
    border: 1px solid #1c1919;
    border-radius: 3px;
}

.nav .blog-button {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 6px 10px !important;
    padding: 10px 15px !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

/*.blog-button::focus,*/
.nav .blog-button:active,
.nav .blog-button:focus,
.nav .blog-button:hover {
    background-color: #117bff !important;
    border: 1px solid #117bff !important;
    color: #FFF !important
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 2px;
    outline: 0;
    position: relative;
}

li link {
    background-color: transparent;
    border: white;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    bottom: 0 !important;
    color: #1c1919;
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 6px 15px 0 !important;
    padding: 13px 0;
    text-decoration: none;
    text-transform: uppercase
}

li link:focus,
li link:hover {
    border-bottom: 3px solid #117bff;
    color: #1c1919;
    outline: 0;
}

li.active link {
    background-color: transparent;
    color: #1c1919
}

li.active link:focus,
li.active link:hover {
    background-color: transparent;
    border-bottom: 3px solid #117bff;
    color: #1c1919
}

.blog-button {
    border: 1px solid #1c1919;
    border-radius: 3px;
}

.blog-button {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 6px 10px !important;
    padding: 10px 15px !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

/*.blog-button::focus,*/
.blog-button:active,
.blog-button:hover {
    background-color: #117bff !important;
    border: 1px solid #117bff !important;
    color: #FFF !important
}

@media screen and (max-width:680px) {
    .nav {
        display: none !important
    }
}