footer {
    padding-bottom: 60px;
    background-color: #1f1c1c;
    font-family: 'Open Sans', sans-serif
}

.copy {
    padding-top: 30px;
    text-align: center
}

.container {
    margin-top: 0;
}

.copy p {
    margin: 0;
}