#blog-title {
    color: #1C1919;
    font-family: 'Lusitana', serif;
    height: 340px;
    margin: 0;
    padding: 50px 0 40px
}

#blog-title .h1 {
    display: table;
    font-size: 93px !important;
    margin: 75px auto 7px !important;
    width: auto !important
}

#blog-title .h1 .letter {
    display: inline-block;
    margin: 0 1px;
    padding: 0
}

#blog-title .h1 .b {
    color: #F67280
}

#blog-title .h1 .l {
    color: #C06C84
}

#blog-title .h1 .o {
    color: #6C5B7B
}

#blog-title .h1 .g {
    color: #355C7D
}

#blog-title h3 {
    color: #8E8E8E;
    margin-top: 0
}

#blog-title h1,
#blog-title h3 {
    font-weight: 700;
    text-align: center
}

.blog {
    background-color: #EEE;
    font-family: 'Lusitana', serif;
    padding-bottom: 100px
}

.blog .container {
    margin: auto;
    max-width: 800px
}

.blog .container .article {
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #333;
    cursor: pointer;
    font-size: 24px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 780px;
    padding: 30px;
    text-align: center
}

.blog .container .article .ap-image {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 60%;
    margin-bottom: 30px;
    max-width: 2000px
}

.blog .container .article .content {
    font-size: 24px;
    padding: 0;
    text-align: left
}

.blog .container .article .content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase
}

.blog .container .article .content h2:hover {
    text-decoration: underline
}

.blog .container .article .content .post-date {
    text-align: center
}

.blog .container .article .content .post-date h4 {
    color: #888;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0 !important
}

.blog .container .article .content p {
    font-weight: 400
}

.blog .container .article .content:nth-child(2) {
    margin-bottom: 30px
}

.view-button,
.view-button:active {
    background-color: #117BFF;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.22);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 24px;
    margin: 20px auto 0;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    width: 185px
}

.view-button:active:hover,
.view-button:hover {
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45), 0 3px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45), 0 3px 6px rgba(0, 0, 0, 0.4);
    outline: none;
    text-decoration: none
}

@media screen and (max-width: 600px) {
    .blog .container .article {
        padding: 0;
    }

    .blog .container .article .content {
        padding: 0 30px 30px;
    }
}

@media screen and (max-width: 430px) {
    .blog .container h3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 365px) {
    .blog .container .h1 letter {
        font-size: 80px;
    }

    .blog .container h3 {
        font-size: 20px;
    }
}