.container {
    margin: auto;
    max-width: 1170px
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mobile-nav {
    background-color: #fff;
    display: none;
    display-position: relative;
    display-padding-top: 20px;
    display-transition: all 0.3s ease-in-out
}

.mobile-nav ul {
    padding: 0;
    text-align: center
}

.mobile-nav li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase
}

.mobile-nav li>a {
    color: #1c1919;
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 1.2px;
    text-decoration: none
}

.scrollbar-element {
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 100px
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    color: #5E5E5E
}

button {
    background: none;
    border: white;
    outline: none;
}

body {
    border: 10px solid #1f1c1c;
    overflow: auto;
    position: static
}

.body-overflow {
    overflow: hidden !important;
    overflow-y: scroll
}

.body-shadow {
    background: #000;
    background-size: fill;
    content: "";
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 950
}

.mobile-nav li .page-img {
    background: url("/img/vector/iconmonstr-log-out-17.svg") no-repeat top center;
    background-size: cover;
    display: inline-block;
    height: 20px;
    margin-left: 6px;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    width: 20px
}

#my_img-1 {
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.37), 0 1px 4px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.37), 0 1px 4px 0px rgba(0, 0, 0, 0.37);
    display: block;
    bottom: -94px;
    height: 180px;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    z-index: 50
}

.inform {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 130px 0 0;
    position: relative;
    text-align: center
}

.inform .container p {
    color: #191616;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding-bottom: 90px;
    text-align: left;
    word-wrap: normal
}

.inform .container p a {
    color: #117bff;
    -webkit-transition: letter-spacing .3s;
    -o-transition: letter-spacing .3s;
    transition: letter-spacing .3s
}

.inform .container p a:hover {
    text-decoration: underline;
    letter-spacing: 3px
}

#footer {
    background-color: #1f1c1c;
    font-family: 'Open Sans', sans-serif
}

#footer .container {
    padding: 60px
}

#footer h3 {
    color: #B5B5B5;
    text-align: center;
    margin-bottom: 40px
}

#footer .col-md-2,
#footer .col-md-6 {
    padding: 0
}

#footer .col-md-2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03)
}

#footer .col-md-6 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding-bottom: 40px
}

#footer .col-md-2 {
    padding-bottom: 45px
}

#footer ul {
    padding-left: 0
}

#footer li {
    display: inline
}

#footer li a>img {
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 2.8rem;
    margin-right: .4rem;
    opacity: .8;
    width: auto;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

#footer li a>img:hover {
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
    opacity: 1;
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15)
}

#footer .forms {
    display: inline-block;
    outline: none;
    padding: 6px 12px;
    width: 31.47%;
    background-color: #191616;
    border: 2px solid transparent;
    border-radius: 6px;
    color: #999;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

#footer .forms:active,
#footer .forms:focus,
#footer .forms:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    border-left: 2px solid rgba(255, 255, 255, 0.03);
    border-right: 2px solid rgba(255, 255, 255, 0.03);
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

#footer .forms:first-child,
#footer .forms:nth-child(2) {
    margin-right: 2.45%
}

.error-notification {
    color: #2687ff;
    display: inline-block;
    margin: 6px 10px
}

#social-1 {
    margin-bottom: 1px;
    margin-left: 5px
}

#contact-img {
    border: .6rem solid #191616;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: auto;
    margin-bottom: 1rem;
    width: 136.5px
}

input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
    color: transparent
}

textarea:focus:-moz-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent
}

#text {
    background-color: #191616;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #999;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-size: 15px;
    height: 90px;
    line-height: 1.42857143;
    margin: 1.2rem 0 .6rem;
    padding: 6px 12px;
    resize: none;
    width: 99.5%
}

#text:active,
#text:focus,
#text:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    border-left: 1px solid rgba(255, 255, 255, 0.03);
    border-right: 1px solid rgba(255, 255, 255, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

#submit-btn {
    background-color: #161414;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 3px;
    color: #6D6C6C;
    float: right;
    font-weight: 500;
    margin-right: .7%;
    outline: none;
    padding-bottom: 5px;
    padding-top: 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 25%
}

#submit-btn:hover {
    background-color: #117bff;
    border: 1px solid transparent;
    color: #FFF;
    outline: none
}

#social-2 {
    display: none;
    margin-left: 4px
}

.copy p {
    padding-top: 30px;
    text-align: center
}

@media screen and (max-width:1199px) {
    #projects .thumbnail {
        height: 210px;
        width: 300px
    }
    #projects .thumbnail .tb h3 {
        top: 30px
    }
    #projects .thumbnail .tb .hover-description {
        font-size: 13.5px;
        left: 15px;
        right: 15px;
        top: 66px
    }
    #projects .thumbnail .tb p {
        bottom: 12px
    }
}

@media screen and (max-width:1020px) {
    #projects .thumbnail {
        height: 185px;
        width: 280px
    }
    #projects .thumbnail .tb h3 {
        top: 20px
    }
    #projects .thumbnail .tb .hover-description {
        left: 12px;
        right: 12px;
        top: 56px
    }
    #projects .thumbnail .tb p {
        bottom: 8px
    }
}

@media screen and (max-width:991px) {
    #services h3 {
        margin-bottom: 0
    }
    #services .col-md-4 {
        border-bottom: 1px solid #dedede;
        height: auto;
        padding: 60px 10px 5px
    }
    #services .col-md-4:nth-child(3) {
        border-bottom: none
    }
    #projects .popup-project {
        min-height: calc(100vh - 52px) !important
    }
    #projects .container {
        padding: 0 25px
    }
    #projects .container .row {
        margin: 0
    }
    #projects .container .col-md-4 {
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
        margin-bottom: 40px;
        padding: 0
    }
    #projects .container .thumbnail {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding-top: 57%;
        width: 100%
    }
    #projects .container .thumbnail:hover {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
    }
    #projects .container .thumbnail .tb {
        display: none
    }
    #projects .container .thumbnail p {
        padding: 35px;
        font-size: 26px
    }
    #projects .container .thumbnail p:hover {
        padding: 35px 60px
    }
    #p1,
    #p2,
    #p3,
    #p4,
    #p5,
    #p6 {
        background-size: 100%
    }
    #footer .col-md-2 {
        border: none;
        padding: 0
    }
    #contact-img,
    #social-1 {
        display: none
    }
    #social-2 {
        display: inline-block
    }
    .error-notification {
        float: right;
        margin-left: 0;
        margin-right: 18px
    }
    .row {
        margin: 0
    }
}

@media screen and (min-width:992px) {
    .mobile-text {
        display: none
    }
}

@media screen and (max-width:812px) {
    .inform {
        padding-left: 5%;
        padding-right: 5%
    }
    .inform .container {
        max-width: 100%
    }
}

@media screen and (max-width:800px) {
    .thumbnail p {
        font-size: 3.7vw
    }
    .popup-project {
        height: calc(100vh - 28px) !important;
        max-width: calc(100% - 20px) !important;
        margin: 52px 0 0 !important
    }
    .popup-project .project-image {
        max-width: 800px !important
    }
}

@media screen and (max-width:767px) {
    .jumbotron h1 {
        font-size: 52px
    }
    #projects .thumbnail p {
        padding: 5vw 20px
    }
    #projects .thumbnail p:hover {
        padding: 5vw 30px
    }
    .error-notification {
        float: none;
        margin: 20px auto;
        text-align: center;
        width: 100%
    }
}

@media screen and (max-width:675px) {
    .mobile-text h2 {
        font-size: 18px
    }
    .mobile-text p {
        font-size: 16px
    }
}

@media screen and (max-width:660px) {
    .popup-project {
        padding: 0 !important
    }
    .popup-project .project-description,
    .popup-project .project-header {
        margin-left: 25px !important;
        margin-right: 25px !important
    }
}

@media screen and (max-width:585px) {
    #footer {
        padding: 4rem
    }
    #footer .col-md-6 .form-inline .forms {
        display: block;
        width: 99.5%;
        margin-top: 10px
    }
    #footer li a {
        width: 8%
    }
    #footer li a>img {
        height: 20.5%;
        margin: 0 3%;
        width: 20.5%
    }
    #footer li:first-child a>img {
        margin-left: 0 !important
    }
    #footer li:last-child a>img,
    #footer li:nth-child(4) a>img {
        margin-right: 0 !important
    }
    #social-2 {
        display: table;
        margin: auto;
        padding-left: 0;
        width: 50%
    }
    #submit-btn {
        float: left;
        margin: 3vw auto 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%
    }
    #subject {
        height: 140px;
        width: 99.5%
    }
    .copy p {
        padding-bottom: 10px
    }
}

@media screen and (max-width:539px) {
    .col-md-4 {
        height: auto;
        padding: 20px 0 50px 15px
    }
    #viewbtn-1 {
        display: none
    }
    #viewbtn-2 {
        display: block;
        left: 50%;
        margin-left: -82px;
        position: absolute
    }
    #footer {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

@media screen and (min-width:481px) {
    #social-2 li:nth-child(5) {
        display: none
    }
}

@media screen and (max-width:480px) {
    #social-2 li:nth-child(4) {
        display: none
    }
}

@media screen and (max-width:450px) {
    body {
        border: none
    }
    #projects {
        padding-bottom: 12rem
    }
    #projects .popup-project {
        max-width: 100vw !important
    }
    #projects .project-button {
        width: 180px;
        margin-left: -90px
    }
    #footer {
        padding: 3rem
    }
    #social-2 {
        width: 55%
    }
}

@media screen and (max-width:430px) {
    #my_img-1 {
        bottom: -79px;
        margin-left: -75px;
        height: 150px
    }
    .inform p {
        font-size: 20px;
        letter-spacing: .3px
    }
    #footer .container {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media screen and (max-width:397px) {
    #projects .col-md-4 {
        padding: 0
    }
    #projects .mobile-text {
        padding: 30px
    }
    .thumbnail p {
        font-size: 16px;
        padding: 20px
    }
    .thumbnail p:hover {
        padding: 20px 30px
    }
    .mobile-text h2 {
        font-size: 15px
    }
}

@media screen and (max-width:396px) {
    body {
        border: none
    }
}

@media screen and (max-width:365px) {
    #projects .container {
        padding: 0 15px
    }
    #projects .thumbnail {
        padding-top: 50%
    }
    .mobile-text {
        padding: 15px
    }
    #social-2 {
        width: 60%
    }
}

@media screen and (max-width:335px) {
    .inform p {
        font-size: 16px
    }
}

@media screen and (max-width:335px) {
    #social-2 {
        width: 75%
    }
    #projects .project-button {
        width: 150px;
        margin-left: -75px
    }
}

@media screen and (max-width:297px) {
    #projects .thumbnail {
        height: 148px
    }
}

@media screen and (max-width:265px) {
    #social-2 {
        width: 85%
    }
    #footer .container {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media screen and (max-width:2650px) {
    .jumbotron {
        background-image: url("/img/home/andyone-2560.jpg")
    }
    #p1 {
        background-image: url("/img/projects/p1-2560-(470).jpg")
    }
    #p2 {
        background-image: url("/img/projects/p2-2560-(470).jpg")
    }
    #p3 {
        background-image: url("/img/projects/p3-2560-(470).jpg")
    }
    #p4 {
        background-image: url("/img/projects/p4-2560-(470).jpg")
    }
    #p5 {
        background-image: url("/img/projects/p5-2560-(470).jpg")
    }
    #p6 {
        background-image: url("/img/projects/p6-2560-(470).jpg")
    }
}

@media screen and (max-width:1920px) {
    .jumbotron {
        background-image: url("/img/home/andyone-1920.jpg")
    }
    #p1 {
        background-image: url("/img/projects/p1-1920-(350).jpg")
    }
    #p2 {
        background-image: url("/img/projects/p2-1920-(350).jpg")
    }
    #p3 {
        background-image: url("/img/projects/p3-1920-(350).jpg")
    }
    #p4 {
        background-image: url("/img/projects/p4-1920-(350).jpg")
    }
    #p5 {
        background-image: url("/img/projects/p5-1920-(350).jpg")
    }
    #p6 {
        background-image: url("/img/projects/p6-1920-(350).jpg")
    }
}

@media screen and (max-width:1600px) {
    .jumbotron {
        background-image: url("/img/home/andyone-1600.jpg")
    }
}

@media screen and (max-width:1366px) {
    .jumbotron {
        background-image: url("/img/home/andyone-1366.jpg")
    }
}

@media screen and (max-width:1280px) {
    .jumbotron {
        background-image: url("/img/home/andyone-1280.jpg")
    }
}

@media screen and (max-width:1199px) {
    #p1 {
        background-image: url("/img/projects/p1-1199-(300).jpg")
    }
    #p2 {
        background-image: url("/img/projects/p2-1199-(300).jpg")
    }
    #p3 {
        background-image: url("/img/projects/p3-1199-(300).jpg")
    }
    #p4 {
        background-image: url("/img/projects/p4-1199-(300).jpg")
    }
    #p5 {
        background-image: url("/img/projects/p5-1199-(300).jpg")
    }
    #p6 {
        background-image: url("/img/projects/p6-1199-(300).jpg")
    }
}

@media screen and (max-width:1024px) {
    .jumbotron {
        background-image: url("/img/home/andyone-1024.jpg")
    }
}

@media screen and (max-width:991px) {
    #p1 {
        background-image: url("/img/projects/p1-991-(700).jpg")
    }
    #p2 {
        background-image: url("/img/projects/p2-991-(700).jpg")
    }
    #p3 {
        background-image: url("/img/projects/p3-991-(700).jpg")
    }
    #p4 {
        background-image: url("/img/projects/p4-991-(700).jpg")
    }
    #p5 {
        background-image: url("/img/projects/p5-991-(700).jpg")
    }
    #p6 {
        background-image: url("/img/projects/p6-991-(700).jpg")
    }
}

@media screen and (max-width:417px) {
    #p1 {
        background-image: url("/img/projects/p1-1920-(350).jpg")
    }
    #p2 {
        background-image: url("/img/projects/p2-1920-(350).jpg")
    }
    #p3 {
        background-image: url("/img/projects/p3-1920-(350).jpg")
    }
    #p4 {
        background-image: url("/img/projects/p4-1920-(350).jpg")
    }
    #p5 {
        background-image: url("/img/projects/p5-1920-(350).jpg")
    }
    #p6 {
        background-image: url("/img/projects/p6-1920-(350).jpg")
    }
}