#contacts {
    background-color: #1f1c1c;
    font-family: 'Open Sans', sans-serif
}

#contacts .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    padding-top: 60px;
    max-width: 720px;
}

#contacts #contacts-header {
    color: #B5B5B5;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px
}

#contacts #contacts-row {
    display: grid;
    grid-template: auto / 148.5px auto;
    grid-column-gap: 40px; 
    grid-template-areas: 
        "contact-links contact-form";
}

#contacts #contact-links,
#contacts #contact-form {
    padding: 0
}

#contacts #contact-links {
    grid-area: contact-links;
    padding-bottom: 45px
}

#contacts #contact-form {
    box-sizing: border-box;
    grid-area: contact-form;
    padding-bottom: 40px;
}