/*-------------------------------------------*\
  Contacts.css

  Contents
  - General 
  - Header
  - Row
  - Row Children

\*-------------------------------------------*/

/*-------------------------------------------*\
  General
\*-------------------------------------------*/

#contacts {
  background-color: #1f1c1c;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif
}

#contacts .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  box-sizing: border-box;
  padding-top: 60px;
  max-width: 720px;
}

/*-------------------------------------------*\
  Header
\*-------------------------------------------*/

#contacts #contacts-header {
  color: #B5B5B5;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px
}

/*-------------------------------------------*\
  Row
\*-------------------------------------------*/

#contacts #contacts-row {
  display: grid;
  grid-template: 1fr / 148.5px 1fr;
  grid-column-gap: 40px; 
  grid-template-areas: 
    "contact-links contact-form";
}

/*-------------------------------------------*\
  Row Children
\*-------------------------------------------*/

#contacts #contact-links,
#contacts #contact-form {
  padding: 0
}

#contacts #contact-links {
  grid-area: contact-links;
  padding-bottom: 45px
}

#contacts #contact-form {
  box-sizing: border-box;
  grid-area: contact-form;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  #contacts #contacts-row {
    grid-column-gap: 15px; 
  }

  #contacts .container {
    max-width: 590px;
  }
}

@media screen and (max-width: 991px) {
  #contacts #contacts-row {
    grid-template: 1fr / 1fr;
    grid-template-areas: 
      "contact-form"
      "contact-links";
  }

  #contacts .container {
    max-width: 630px;
  }
}

@media screen and (max-width: 730px) {
  #contacts .container {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}

@media screen and (max-width: 430px) {
  #contacts .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}