/*-------------------------------------------*\
    Project Popup Description
\*-------------------------------------------*/

.page-wrap {
    background: rgba(0, 0, 0, 0.6);
    background-size: fill;
    bottom: 0;
    content: "";
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100vw;
    z-index: 1000;
}

.popup-project {
    background: #fff;
    left: 50%;
    margin: 90px 0 200px;
    max-width: 700px;
    padding: 30px 30px 30px;
    position: relative;
    text-align: left;
    transform: translateX(-50%);
    z-index: 800 !important
}

.popup-project .project-image {
    background: no-repeat center center;
    background-size: cover;
    
    padding-top: 64%
}

.popup-project .project-header {
    border-bottom: 1px solid #dedede;
    margin: 25px auto 25px;
    padding-bottom: 20px
}

.popup-project .project-header .project-name {
    font-size: 28px;
    font-weight: 600;
    margin: 5px 0px 10px;
    text-align: center
}

.popup-project .project-header .project-skills {
    color: #7b7b7b;
    display: block;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500
}



.popup-project .project-description {
    margin: 0px 10px 101px;
    text-align: left
}

.popup-project .project-description pre {
    font-family: 'Merriweather Sans', sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.popup-project .project-close-button {
    background-color: #117bff;
    border-radius: 3px;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    left: 50%;
    padding: 10px 25px;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.3s
}

.popup-project .project-close-button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

@media screen and (max-width:991px) {
    .popup-project {
        min-height: calc(100vh - 52px) !important
    }
}

@media screen and (max-width:800px) {
    .popup-project {
        height: calc(100vh - 28px) !important;
        max-width: calc(100% - 20px) !important;
        margin: 52px 0 0 !important
    }
    .popup-project .project-image {
        max-width: 800px !important
    }
}

@media screen and (max-width:660px) {
    .popup-project {
        padding: 0 !important
    }

    .popup-project .project-description,
    .popup-project .project-header {
        margin-left: 25px !important;
        margin-right: 25px !important
    }
}

@media screen and (max-width:450px) {
    .popup-project {
        max-width: 100vw !important
    }
}

@media screen and (max-width:335px) {
    .project-button {
        width: 150px;
        margin-left: -75px
    }
}