#my_img-1 {
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.37), 0 1px 4px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.37), 0 1px 4px 0px rgba(0, 0, 0, 0.37);
    display: block;
    bottom: -94px;
    height: 180px;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    z-index: 50
}

#home {
    background: #493D3B url("/img/home/andyone-4096.jpg") no-repeat top center;
    background-size: cover;
    color: #FFF;
    height: 700px;
    margin-bottom: 0;
    position: relative;
    margin-top: 0;
}

#home .container header {
    letter-spacing: 1px;
    padding-left: 7vw;
    padding-right: 7vw;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.container header h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 53px;
    margin-top: 0;
    padding: 143px 0 10px;
    letter-spacing: 1px;
}

#home .container header p {
    font-size: 21px;
}

#view-gallery-btn {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    font-size: 18px;
    margin-left: 7vw;
    padding: 12px 50px;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#view-gallery-btn:hover {
    background-color: #117bff;
    border-color: transparent;
    color: #FFF;
    outline: none;
}

@media screen and (max-width: 810px) {
    #view-gallery-btn {
        left: 50%;
        margin: 0;
        padding: 12px 30px;
        position: absolute;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 767px) {
    #home .container header h1 {
        font-size: 53px;
    }
}