#moving-header {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    background: #FFF;
    left: 10px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: calc(100% - 20px) !important;
    z-index: 999
}

#moving-header .header-wrap .container {
    margin: auto !important;
    padding: 0 15px
}

#moving-header .header-wrap .container #back-arrow {
    display: none;
    padding: 11px 20px;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px)
}

#moving-header .header-wrap .container #back-arrow .arrow {
    background: url("/img/vector/arrow-left.svg") no-repeat center center;
    background-size: contain;
    display: block;
    height: 25px;
    width: 25px
}

#moving-header .header-wrap .container .back-open {
    display: inline-block !important
}

#moving-header .header-wrap .container #logom {
    background: url("/img/logo.png") no-repeat center center;
    background-size: contain;
    display: inline-block;
    height: 42px;
    margin: 5px 0 0;
    padding: 0;
    width: 42px
}

#moving-header .header-wrap .container #logom:hover {
    cursor: pointer
}

#moving-header .header-wrap .container .nav,
#moving-header .header-wrap .container .nav-pills,
#moving-header .header-wrap .container .navm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    float: right;
    height: 52px;
    margin: 0
}

#moving-header .header-wrap .container .nav-pills li,
#moving-header .header-wrap .container .nav li,
#moving-header .header-wrap .container .navm li {
    list-style: none;
    margin-left: 2px;
    position: relative;
    text-transform: uppercase
}

#moving-header .header-wrap .container .nav-pills li a,
#moving-header .header-wrap .container .nav li a,
#moving-header .header-wrap .container .navm li a {
    border-bottom: 3px solid transparent;
    border-radius: 0;
    bottom: 0 !important;
    color: #1c1919;
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 6px 15px 0 !important;
    padding: 13px 0;
    text-decoration: none
}

#moving-header .header-wrap .container .nav-pills li a:focus,
#moving-header .header-wrap .container .nav-pills li a:hover,
#moving-header .header-wrap .container .nav li a:focus,
#moving-header .header-wrap .container .nav li a:hover,
#moving-header .header-wrap .container .navm li a:focus,
#moving-header .header-wrap .container .navm li a:hover {
    background-color: transparent;
    border-bottom: 3px solid #117bff;
    color: #1c1919
}

#moving-header .header-wrap .container .nav-pills li.active a,
#moving-header .header-wrap .container .nav li.active a,
#moving-header .header-wrap .container .navm li.active a {
    background-color: transparent;
    color: #1c1919
}

#moving-header .header-wrap .container .nav-pills li.active a:focus,
#moving-header .header-wrap .container .nav-pills li.active a:hover,
#moving-header .header-wrap .container .nav li.active a:focus,
#moving-header .header-wrap .container .nav li.active a:hover,
#moving-header .header-wrap .container .navm li.active a:focus,
#moving-header .header-wrap .container .navm li.active a:hover {
    background-color: transparent;
    border-bottom: 3px solid #117bff;
    color: #1c1919
}

#moving-header .header-wrap .container .nav #blog-btn a,
#moving-header .header-wrap .container .nav-pills #blog-btn a,
#moving-header .header-wrap .container .navm #blog-btn a {
    background-color: transparent;
    border: 1px solid #1c1919;
    border-radius: 3px;
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 6px 10px !important;
    padding: 10px 15px !important;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

#moving-header .header-wrap .container .nav #blog-btn a:active,
#moving-header .header-wrap .container .nav #blog-btn a:hover,
#moving-header .header-wrap .container .nav-pills #blog-btn a:active,
#moving-header .header-wrap .container .nav-pills #blog-btn a:hover,
#moving-header .header-wrap .container .navm #blog-btn a:active,
#moving-header .header-wrap .container .navm #blog-btn a:hover {
    background-color: #117bff;
    border: 1px solid transparent;
    color: #FFF
}

#nav-trigger {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FFF;
    display: none;
    float: right;
    height: 42px;
    margin: 5px 0 0;
    width: 40px;
    padding: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

#nav-trigger span {
    background-color: #1c1919;
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

#nav-trigger span:after {
    background-color: #1c1919;
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#nav-trigger span:before {
    background-color: #1c1919;
    content: "";
    display: block;
    height: 3px;
    width: 40px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: -14px
}

#nav-trigger span:after {
    top: 11px
}

.is-open {
    margin-right: 6px !important
}

.is-open span {
    background-color: transparent !important
}

.is-open span:before {
    -webkit-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.is-open span:after {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-nav {
    background-color: #fff;
    display: none;
    display-position: relative;
    display-padding-top: 20px;
    display-transition: all 0.3s ease-in-out
}

.mobile-nav ul {
    padding: 0;
    text-align: center
}

.mobile-nav li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase
}

.mobile-nav li>a {
    color: #1c1919;
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 1.2px;
    text-decoration: none
}

@media screen and (max-width:1024px) {
    #moving-header {
        z-index: 1100
    }
}

@media screen and (max-width:680px) {
    #nav-trigger {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important
    }
    .navm {
        display: none !important
    }
}

@media screen and (max-width:450px) {
    #moving-header {
        left: 0;
        width: 100% !important
    }
}

body,
thml {
    cursor: default;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    min-width: 320px;
    padding: 0
}

.scrollbar-element {
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 100px
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

::-webkit-input-placeholder {
    color: #5E5E5E
}

::-moz-placeholder {
    color: #5E5E5E
}

:-ms-input-placeholder {
    color: #5E5E5E
}

:-moz-placeholder {
    color: #5E5E5E
}

body {
    background-color: #EEE;
    border: 10px solid #1C1919
}

.body-shadow {
    background: #000;
    background-size: fill;
    content: "";
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 950 !important
}

.container {
    max-width: 1140px !important;
    margin: auto !important
}

#blog-title {
    color: #1C1919;
    font-family: 'Lusitana', serif;
    height: 340px;
    margin: 0;
    padding: 50px 0 40px
}

#blog-title .h1 {
    display: table;
    font-size: 93px !important;
    margin: 75px auto 7px !important;
    width: auto !important
}

#blog-title .h1 .letter {
    display: inline-block;
    margin: 0 1px;
    padding: 0
}

#blog-title .h1 .b {
    color: #F67280
}

#blog-title .h1 .l {
    color: #C06C84
}

#blog-title .h1 .o {
    color: #6C5B7B
}

#blog-title .h1 .g {
    color: #355C7D
}

#blog-title h3 {
    color: #8E8E8E;
    margin-top: 0
}

#blog-title h1,
#blog-title h3 {
    font-weight: 700;
    text-align: center
}

.blog {
    font-family: 'Lusitana', serif;
    padding-bottom: 100px
}

.blog .container {
    margin: auto;
    max-width: 800px
}

.blog .container .article-wrap {
    background: rgba(0, 0, 0, 0.38);
    background-size: fill;
    bottom: 0;
    content: "";
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100%-20px) !important;
    z-index: 700
}

.blog .container .article-wrap .popup-article {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #333;
    margin: 90px auto 120px;
    padding: 30px 30px 30px;
    position: relative;
    text-align: left;
    max-width: 840px
}

.blog .container .article-wrap .popup-article .article-image {
    background: no-repeat center center;
    background-size: cover;
    max-width: 2000px;
    padding-top: 60%
}

.blog .container .article-wrap .popup-article .article-header {
    font-size: 32px;
    font-weight: 700;
    margin: 20px auto 0;
    text-align: center;
    text-transform: uppercase
}

.blog .container .article-wrap .popup-article .article-date {
    color: #888;
    font-size: 18px;
    margin: 0 auto 30px;
    text-align: center
}

.blog .container .article-wrap .popup-article .article-content {
    font-size: 24px;
    font-weight: 400;
    text-align: left
}

.blog .container .article-wrap .popup-article .article-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0
}

.blog .container .article-wrap .popup-article .article-navigation #back {
    margin-left: 20px
}

.blog .container .article-wrap .popup-article .article-navigation #next {
    margin-right: 20px
}

.blog .container .article-prev {
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #333;
    cursor: pointer;
    font-size: 24px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 780px;
    padding: 30px;
    text-align: center
}

.blog .container .article-prev .ap-image {
    background: cornflowerblue;
    padding-top: 60%;
    margin-bottom: 30px;
    max-width: 2000px
}

.blog .container .article-prev .content {
    padding: 0;
    text-align: left
}

.blog .container .article-prev .content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase
}

.blog .container .article-prev .content h2:hover {
    text-decoration: underline
}

.blog .container .article-prev .content .post-date {
    text-align: center
}

.blog .container .article-prev .content .post-date h4 {
    color: #888;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0 !important
}

.blog .container .article-prev .content p {
    font-weight: 400
}

.blog .container .article-prev .content:nth-child(2) {
    margin-bottom: 30px
}

.view-button,
.view-button:active {
    background-color: #117BFF;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.22);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 24px;
    margin: 20px auto 0;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    width: 185px
}

.view-button:active:hover,
.view-button:hover {
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45), 0 3px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45), 0 3px 6px rgba(0, 0, 0, 0.4);
    outline: none;
    text-decoration: none
}

.button-inactive {
    border: 1px solid #b5b5b5;
    background-color: transparent;
    color: #b5b5b5
}

.button-inactive:hover {
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22)
}

#img-1 {
    background: url("/img/blog/img-1-4000-(2000).jpg") no-repeat center center;
    background-size: cover
}

#img-2 {
    background: url("/img/blog/img-2-4000-(2000).jpg") no-repeat center center;
    background-size: cover
}

#img-3 {
    background: url("/img/blog/img-3-4000-(2000).jpg") no-repeat center center;
    background-size: cover
}

.footer {
    background-color: #1C1919;
    font-family: 'Open Sans', sans-serif;
    padding: 6rem
}

.copy p {
    color: #333;
    padding-top: 30px;
    text-align: center
}

@media screen and (max-width:991px) {
    .footer .col-md-2:nth-child(2) {
        border: none;
        padding: 0
    }
}

@media screen and (max-width:920px) {
    .popup-article {
        margin: 52px auto 0px !important;
        min-height: calc(100vh - 52px) !important;
        width: calc(100% - 80px) !important
    }
}

@media screen and (max-width:860px) {
    #blog-title {
        height: 290px
    }
}

@media screen and (max-width:750px) {
    .article-prev {
        padding: 0 !important
    }
    .popup-article {
        padding: 0 !important;
        width: calc(100% - 20px) !important
    }
    .content {
        padding: 0 30px 30px !important
    }
    .article-navigation .view-button {
        width: 152px !important
    }
}

@media screen and (max-width:650px) {
    .article-prev h2 {
        font-size: 28px
    }
    .article-prev p {
        font-size: 22px
    }
}

@media screen and (max-width:600px) {
    .article-prev {
        padding: 0 0 15px
    }
    .ap-image {
        margin-bottom: 0
    }
    .descr {
        margin: 25px
    }
    .article-navigation .view-button {
        width: auto;
        padding: 10px 20px !important
    }
    #back {
        margin-left: 0 !important
    }
    #next {
        margin-right: 0 !important
    }
}

@media screen and (max-width:585px) {
    #nav-trigger {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex
    }
    .navm {
        display: none
    }
}

@media screen and (max-width:480px) {
    .article-navigation .view-button {
        width: auto;
        padding: 10px 10px !important
    }
}

@media screen and (max-width:450px) {
    body {
        border: none
    }
    .moving-header {
        left: 0;
        right: 0
    }
    .article-background {
        border: none
    }
    .popup-article {
        width: 100% !important
    }
}

@media screen and (max-width:430px) {
    .article-navigation .view-button {
        font-size: 20px
    }
}

@media screen and (max-width:400px) {
    .article-navigation .view-button {
        font-size: 17px;
        padding: 10px 5px !important
    }
}

@media screen and (max-width:350px) {
    .article-navigation .view-button {
        font-size: 17px;
        padding: 10px 0 !important
    }
}

@media screen and (max-width:1920px) {
    .img-1 {
        background-image: url("/img/blog/img-1-1920-(810).jpg")
    }
    .img-2 {
        background-image: url("/img/blog/img-2-1920-(810).jpg")
    }
    .img-3 {
        background-image: url("/img/blog/img-3-1920-(810).jpg")
    }
}

@media screen and (max-width:991px) {
    .img-1 {
        background-image: url("/img/blog/img-1-991-(660).jpg")
    }
    .img-2 {
        background-image: url("/img/blog/img-2-991-(660).jpg")
    }
    .img-3 {
        background-image: url("/img/blog/img-3-991-(660).jpg")
    }
}

@media screen and (max-width:420px) {
    .img-1 {
        background-image: url("/img/blog/img-1-420-(373).jpg")
    }
    .img-2 {
        background-image: url("/img/blog/img-2-420-(373).jpg")
    }
    .img-3 {
        background-image: url("/img/blog/img-3-420-(373).jpg")
    }
}